.scroll-element {
    overflow: auto; /* or overflow: scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .scroll-element::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  .hoverDiv{
   transition: transform 0.3s ease; 
    transform-origin: center;
    will-change: transform;
    border-radius: 0.5rem;
    z-index: 30;
  }
 .hoverDiv:hover{
  transform: scale(1.07);
  border:3px solid #50B498;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 40
 }

  .booking-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('path/to/your/background-image.jpg'); /* Replace with your desired image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Light text color for better contrast */
    font-family: Arial, sans-serif;
  }
  
  /* h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  div {
    margin-bottom: 1rem;
  } */

